body {
    font-family: sans-serif;
    font-size: 24pt;
    background-color: grey;
}
   
.main {
	background-color: white;
	width: max-content;
	min-width: 80%;
	margin: auto;
	border-radius: 20px;
	padding: 10px;
}
  
h1 {
	text-align: center;
}

.sommaire {
	width: max-content;
	margin: auto;
}

.sommaire a {
	color: inherit;
	text-decoration: none;
}

fieldset {
    margin-bottom: 50px;
    border: 1px solid blue;
	border-radius: 0px 20px 20px 20px;
}

math{
    font-size: 30pt;
}

input {
    font-size: 24pt;
}
    
input[type=number], input[type=text] { 
    -moz-appearance: textfield;
    appearance: textfield;
    height: 50px;
    width: 150px;
    margin: 4px;
    text-align: center;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

input::-o-inner-spin-button, input::-o-outer-spin-button {
    -o-appearance: none;
    margin:0;
}

input[type=button], input[type=submit] {
    margin: 2px;
    width: 180px;
    min-width: max-content;
}
